
body{
	background-color: ghostwhite;
}

.topbar{
	background-color: skyblue;
	overflow:hidden;
	overflow-wrap:normal;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 36px;
}

.index{
	float: left;
	color: black;
	text-align: center;
	padding: 10px 12px;
	font-size:14px;
}

.index:hover{
	background-color: cornflowerblue;
	color: blanchedalmond;
}

.index:active{
	background-color:lightskyblue;
	color:cadetblue;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500 px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	border: 1px solid black;
	box-sizing: border-box;
	overflow-wrap: inherit;
	overflow: auto;
	padding: 0px 100px 20px 100px; //top right bottom left parameters
	h1{
		  font-size: 50px;
	  }
}
img{
	
	border-radius: 30%;
	width: 200px;
	height: 200px;

}