
body{
	background-color: ghostwhite;
}
/* nav bar styling*/
.topbar{
	background-color: skyblue;
	overflow:hidden;
	overflow-wrap:normal;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: 36px;
}

.topbar{
	float: left;
	color: black;
	text-align: center;
	padding: 10px 12px;
	font-size:14px;
}

.topbar{
	background-color: cornflowerblue;
	color: blanchedalmond;
}

.topbar{
	transition: all .25s linear 0;
	background-color: azure;
}

.topbar:active{
	background-color:lightskyblue;
	color:cadetblue;
}

/* short intro*/
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500 px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	overflow-wrap: break-word;
	margin:0 15%;
	overflow: auto;
	padding: 0px 100px 20px 100px; //top right bottom left parameters
}

h1 {
	font-size: 50px;
}
img{
	
	border-radius: 30%;
	width: 200px;
	height: 200px;

}

#resume {
	border: 1px dashed pink;
	margin: 0 15%;
	padding: 300px 0px 300px 0;
}