<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="index.html">About me</a><a href="contact.html">Contact me</a><a href="projects-compact-grid.html">Projects</a></div>
        <div class="social-icons"><a href="https://www.linkedin.com/in/thevictorzheng/"><i class="fab fa-linkedin-in" href=""></i></a><a href="https://www.instagram.com/vic.turtle"><i class="icon ion-social-instagram-outline" href=""></i></a><a href="https://github.com/victorzheng1"><i class="fab fa-github" href=""></i></a></div>
        <small>Victor Zheng 2025</small>
    </div>
</footer>
